# Ignore devcontainer workspace settings
.devcontainer.json
.devcontainer

# Ignore vscode specific workspace settings
.vscode

# ignore idea specific workspace settings
.idea

# ignore cmake outputs
cmake-*
build
out