# Ignore devcontainer workspace settings
.devcontainer.json
.devcontainer/devcontainer.json

# Ignore vscode specific workspace settings
.vscode

# Ignore idea specific workspace settings
.idea

# Ignore build files
build
out
debug
cmake-*